@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/* ------------------- Global styles ------------------- */

body {
    font-family: 'Goldman', sans-serif;
    background-color: rgb(41, 41, 41);
}

.modal-content {
    background-color: rgb(0, 138, 219);
    color: white;
}

/* ------------------- Main menu section ------------------- */
#main-menu-section {
    background: url(../images/lego-bricks.jpg) center center no-repeat;
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    color:#000;
    text-shadow: white -1px 0px, white 0px 1px, white 1px 0px, white 0px -1px;
    position: absolute;
    font-size: 2rem;
}

h1 li {
    list-style-type: none;
}

#volume-on {
    position: absolute;
    right: 10px;
    z-index: 1000;
}

#volume-on i {
    cursor: pointer;
}

#volume-on i:hover {
    color: black;
}

#emmet img {
    width: 100%;
    height: auto;
  }

#main-menu {
    color: white;
    background-color: rgb(255, 213, 0);
    position: relative;
}

.btn-block {
    color: white;
    width: 65%;
    font-weight: 700;
    font-size: 28px;
    background-color: rgb(0, 138, 219);
    border: 4px solid rgb(0, 138, 219);
}

#play {
    font-size: 38px;
    background-color: rgb(227, 0, 11);
    border: 4px solid rgb(227, 0, 11);
}

#play:hover,
.btn-block:hover {
    color: #000;
    text-shadow: white -1px 0px, white 0px 1px, white 1px 0px, white 0px -1px;
    border: 4px solid white;
}

/* ------------------- Game level modal ------------------- */

.level {
    width: 125px;
    height: 125px;
    margin: 10px;
    color: white;
    border: 2px solid black;
}

.level:hover {
    color: #000;
    border: 2px solid white;
}

#easy {
    background-color: rgb(255, 213, 0);
}

#medium {
    background-color: rgb(67, 176, 42);
}

#hard {
    background-color: rgb(227, 0, 11);
}

/* ------------------- About modal ------------------- */

#benefits {
    background-color: rgb(67, 176, 42);
}

/* ------------------- Game arena section ------------------- */

#game-arena-section {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Game arena */
#exit {
    position: absolute;
    top: -20px;
    font-size: 20px;
}

#volume-up-arena {
    position: absolute;
    top: -20px;
    right: 15px;
    font-size: 20px;
}

#exit:hover,
#volume-up-arena:hover {
    color: rgb(227, 0, 11);
    cursor: pointer;
}

#board {
    clear: both;
}

#points span {
    background-color:  rgb(255, 213, 0);
    color: #000;
}

#level span,
#time span,
#counter span {
    background-color: rgb(0, 138, 219);
}

/* ------------------- Cards (js) ------------------- */
.card {
    width: 23%;
    height: 115px;
    margin-left: 2px;
    margin-right: 3px;
    border: 3px solid  white;
    background-color: rgb(67, 176, 42);
    cursor: pointer;
    display: inline-block;
}

.card:hover {
    border: 3px solid rgb(255, 213, 0);
}

.cardA {
    width: 23%;
    height: 115px;
    margin-left: 2px;
    margin-right: 3px;
    border: 3px solid  rgb(255, 213, 0);
    cursor: default;
    pointer-events: none;
    display: inline-block;
}

/* ------------------- Highscores modal ------------------- */
.table td, .table th {
    padding: 0;
}

/* ------------------- Media Query ------------------- */
@media (max-width: 410px) {
 h1 {
     font-size: 1.5rem;
 }
 .card,
 .cardA {
     height: 105px;
 }
}

@media (min-width: 768px) {
    #exit {
        position: absolute;
        left: -150px;
        top: -50px;
        font-size: 20px;
    }
    
    #volume-up-arena {
        position: absolute;
        right: -95px;
        top: -50px;
        font-size: 20px;
    }

    #points span {
        font-size: 25px;
    }
}

