body {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
}
/* ------------------- Main menu section ------------------- */

#main-menu {
    color: white;
    background-color: chartreuse;
}


.btn-block {
    width: 65%;
}

/* ------------------- Game level modal ------------------- */
.level {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}